*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
body {  
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
}
.title {
        display: flex;
        width: 1200px;
        height: 36px;
        line-height: 36px;
        margin-top: 45px;
}
.main-logo {
            width: 183px;
            height: 36px;
}
.main-logo a {
        display: block;
        width: 183px;
        height: 36px;
}
.main-logo a img {
        display: block;
        width: 183px;
        height: 36px;
}
.navbar {
            width: 997px;
            height: 36px;
            float: right;
            list-style: none;
            background-color: #3B64C8;
            margin-left: 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
}
.navbar li {
            float: left;
}
.navbar li:first-child {
    padding-left: 30px;
}
.navbar li a {
                padding-left: 15px;
                padding-right: 15px;
                line-height: 36px;
                display: block;
                text-decoration: none;
                color: white;
                font-size: 13px;
}
.navbar li:nth-child(9) a {
                            margin-left: 183px;
                            padding-right: 15px;
                            line-height: 36px;
                            display: block;
                            text-decoration: none;
                            color: white;
                            font-size: 13px;
}
.navbar li:last-child a {
                            padding-left: 15px;
                            margin-right: 30px;
                            line-height: 36px;
                            display: block;
                            text-decoration: none;
                            color: white;
                            font-size: 13px;
}
.navbar li a:hover {
                    background-color: #233C78;
}
.navbar .small-icon {
                        display: inline-block;
                        vertical-align: middle;
                        width: 15px;
                        height: 15px;
                        fill: white;
}
.sub-navbar {
                display: block;
                margin-top: 0px;
                width: 997px;
                height: 36px;
                float: right;
                list-style: none;
                background-color: #cccccc;
                margin-left: 20px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
}
.sub-navbar li {
                float: left;
}
.sub-navbar li:first-child {
                            padding-left: 30px;
}
.sub-navbar li a {
                padding-left: 15px;
                padding-right: 15px;
                line-height: 36px;
                display: inline-block;
                text-decoration: none;
                color: #3B64C8;
                font-size: 13px;
                font-weight: bold;
}
.sub-navbar li a:hover {
                        background-color: #737373;
                        color: white;
}
.section {
    margin-top: 96px;
    width: 1200px;
    height: 1505px;
}
.section .sub-title {
            display: inline-block;
            font-size: 0;
            text-align: left;
            width: 1200px;
            height: 75px;
            border-bottom: 5px solid #3B64C8 ;
}
.section .sub-title .sub-logo {
                    display: inline-block;
                    vertical-align: middle;
                    width: 45px;      
                    height: 45px;
}
.section .sub-title h3 {
            display: inline-block;
            vertical-align: middle;
            margin-left: 25px;
            font-size: 24px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.9);
}
.section .row2 {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    text-align: left;
    width: 1200px;
    height: 415px;
    margin-top: 60px;
}
.section .row2 .box345 {
            display: inline-block;
            vertical-align: middle;
            margin-left: 82px;
            width: 345px;        
            height: 415px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
}
.section .row2>a:hover {
                        filter: brightness(50%);
}
.section .row2 a:first-child {
            display: inline-block;
            margin-left: 0px;
            width: 345px;
            height: 415px;

}
.section a img {
            width: 345px;
            height: 265px;
            object-fit: cover;
            text-align: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
}
.section a .textbox345 { 
                    width: 345px;
                    height: 150px;
                    display: inline-block;
                    background-color: #C2CFEE;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
}
.section a .textbox345 p {
                    display: block;
                    margin-top: 25px;
                    margin-left: 26px;
                    margin-right: 25px;
                    font-size: 15px;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.9);  
}
.section .row2 .box345 .textbox345 span {
                            display: block;
                            width: 56px;
                            height: 20px;
                            margin-top: 45px;
                            margin-left: 264px;
                            margin-right: 25px;
                            margin-bottom: 20px;
                            font-size: 15px;
                            font-weight: 400px;
                            color: #737373;
}
.section .row2 a:nth-child(2) .textbox345 span {
                            display: block;
                            width: 56px;
                            height: 20px;
                            margin-top: 25px;
                            margin-left: 264px;
                            margin-right: 25px;
                            margin-bottom: 20px;
                            font-size: 15px;
                            font-weight: 400px;
                            color: #737373;
}
.bluebox {
    display: block;
    width: 1200px;
    height: 180px;
    background-color: #3B64C8;
    margin-top: 100px;
}
.bluebox .row4 {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    width: 1200px;
    height: 45px;
    margin-top: 68px;
    margin-bottom: 67px;
    text-align: center;
}
.bluebox .row4 .last-logo {
    display: inline-block;
    line-height: 45px;
    width: 200px;
    height: 45px;
}
.bluebox .row4 .last-logo img {
    width: 200px;
    height: 45px;
}
.bluebox .row4 .sub-navbar2 {
            display: inline-block;
            line-height: 45px;
            list-style: none;
            margin-left: 15px;
}
.bluebox .row4 .sub-navbar2 li {
                    float: right;
                    padding-left: 15px;
                    padding-right: 15px;
}
.bluebox .row4 .sub-navbar2 li a {
                            float: left;
                            text-decoration: none;
                            font-size: 15px;
                            font-weight: 400;
                            color: white;
}
.bluebox .row4 .sub-navbar2 li a:hover {
                            color: #233C78;
}